@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 800px;
  width: 80%;
  margin: auto;
  font-family: 'Cairo', sans-serif;
  background-color: #303960;
  color: #f8b24f;
  padding: 2em 3em;
  border-radius: 10px;
  text-align: center;
}

.container > h4 {
  text-align: right;
  font-size: 2rem;
  margin-right: 2em;
}
#score {
  font-size: 2.1rem;
  font-family: consolas, monospace;
}
h3 {
  font-size: 2rem;
}

h4 {
  margin: 0;
}

.checkbox {
  margin-bottom: 1em;
}

.disabled {
  display: none;
}
.opt {
  cursor: pointer;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #ea9a96;
  transition: background-color 0.1s ease;
}

.checkbox:hover > .opt,
.opt.selected {
  background-color: #e5e5e5;
  color: #303960;
}

.btn {
  cursor: pointer;
  margin: 1em 0;
  border-radius: 5px;
  font-family: 'Cairo', sans-serif;
  border: 1px solid #f8b24f;
  background-color: transparent;
  padding: 0.5px 3em;
  color: white;
  font-size: 1.5rem;
  transition: background-color 0.25s ease-in-out;
}

.btn:hover {
  border-color: #ea9a96;
  background-color: #ea9a96;
}
